
#idnome{
    width: 100px;
    height: 20px;
}
#idbotao{
    background-color: red;
    color: white;
}

h1{
    color: red;
}

p{
    font-weight: bold
}

img{
    width: 600px;
    height: 400px;
}

